#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.restaurant-container {
  display: grid;
  grid-template-columns: 280px 280px;
  gap: 50px;
  justify-content: center;
}
