body {
  background-color: white;
  color: #242E30;
}

header {
  background-color: #FF8000;
  color: white;
  width: 100vw;
  height: 90px;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 110px 2rem 2rem;
  text-align: center;
}

.restaurant-container {
  display: grid;
  grid-template-columns: 400px 400px;
  gap: 50px;
  justify-content: center;
}

.restaurant-card {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 9px #242E30;
  color: #242E30;
}

.restaurant-card .restaurant-info {
  display: grid;
  padding: 10px;
}

.restaurant-card p:first-child {
  font-size: larger;
  font-weight: bold;
}

.restaurant-card p:last-child {
  font-weight: bold;
  color: #F75E28;
}

.restaurant-card p {
  font-size: smaller;
  margin: 5px;
}

.restaurant-card .restaurant-logo {
  align-self: center;
  padding: 10px;
}